#table-container {
	width: auto;
	height: 250px;
	overflow: auto;
	margin: 50px;
	border: 1px solid #DDD;
}

#table-container table {
	width: 100%;
	border-width: 0;
	border-collapse: collapse;
}

#table-container table td {
	padding: 0;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	background: #FFF;
}

#table-container .table-top td, #table-container .table-lt td,
	#table-container .table-left td {
	background: green;
}

#table-container .table-top td:last-child {
	border-right: 0px solid #DDD;
}

#table-container .table-right td:last-child {
	border-right: 0px solid #DDD;
}

#table-container .table-right tr:last-child td {
	border-bottom: 0px solid #DDD;
}

#table-container .table-left tr:last-child td {
	border-bottom: 0px solid #DDD;
}

#table-container td div {
	display: inline-block;
	max-width: 200px;
	margin: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	line-height: 24px;
}

#table-container .table-lt {
	position: fixed;
	z-index: 3;
}

#table-container .table-top {
	position: fixed;
	overflow: hidden;
	z-index: 2;
}

#table-container .table-left {
	position: fixed;
	overflow: hidden;
	z-index: 2;
}

#table-container .table-right {
	position: relative;
	z-index: 1;
}

#table-container .table-mask {
	position: relative;
}